/**
* ! Changing default styles of the browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #232f3e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.cart{
  display: flex;
  align-items: center;

  /*tambien podria funcionarmargin-left: 800px;*/
  margin-left: auto;
  padding: 10px 20px;
  
}
.cart i{
  font-size: 50px;
  background-color: white;
  border-radius: 10px;
  color:#232f3e; 
 
}
.cart h1{
  position: absolute;
  margin-left: 40px;
  margin-bottom: 70px;
  background-color: red;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 15px;
}





.logo {
  font-size: 24px;
  margin-left: 20px;
}
/*
.search-bar {
  flex-grow: 1;
  margin: 0 300px;
  
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 60%;
}

.search-bar button {
  padding: 8px 25px;
  border: none;
  background-color: #FF9900;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
*/
.search-bar {
  display: flex; /* Añade flexbox para que los elementos se alineen en la misma línea */
  margin-left: 180px;
  width: 600px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 10px 0 0 10px;
  border: 1px solid black; 
  width: 70%; /* Calcula el ancho del campo de entrada restando el ancho del botón */
}

.search-bar button {
  padding: 10px 25px;
  border-left: 0px solid black; 
  border-bottom: 1px solid black; 
  border-top: 1px solid black; 
  border-right: 1px solid black; 
  background-color: #FF9900;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.navbar2{
    display: flex;
    flex-direction: row;
    color: gray;
    background-color: black;

}
.navbar2 .botton {
  background-color: #ffffff; /* Green */
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;

}
.container {
    display: grid;
    grid-template-columns: 250px auto; /* Columna para la barra lateral y columna para los productos */
    gap: 20px; /* Espacio entre la barra lateral y los productos */
  }

.Shop{
    display: grid;
    grid-template-rows: auto auto; /* Columna para la barra lateral y columna para los productos */
    gap: 20px;      
    justify-content: center;
}   

  
  /* Consulta de medios para ajustar el ancho de las imágenes cuando la pantalla sea más estrecha */
 


.Shopbar{
    text-align: center;
    color: green
}
.images {
    display: grid;
    grid-template-columns: repeat(4, auto); /* Cuatro columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    
  }

  @media (max-width:1400px){
    .images {
        display: grid;
        grid-template-columns: repeat(4, auto); /* Cuatro columnas de igual tamaño */
        gap: 20px; /* Espacio entre las imágenes */
        
      }
      .item img{
        width: 100%;
    }
    }
 

 @media (max-width:1250px){
      .images {
          display: grid;
          grid-template-columns: repeat(3, auto); /* Cuatro columnas de igual tamaño */
          gap: 20px; /* Espacio entre las imágenes */
          
        }
        .item img{
          width: 280px;
      }
      }
  @media (max-width:1249px){
      .images {
          display: grid;
          grid-template-columns: repeat(3, auto); /* Cuatro columnas de igual tamaño */
          gap: 20px; /* Espacio entre las imágenes */
          
        }
        .item img{
          width: 99%;
      }
      }

@media (max-width:1000px){
    .images {
       display: grid;
       grid-template-columns: repeat(3, auto); /* Cuatro columnas de igual tamaño */
       gap: 20px; /* Espacio entre las imágenes */
    }
    .item img{ 
       width: 220px;
    }
}

.cartsquad {
  position: fixed;
  top: 0;
  right: -400px; /* Inicialmente fuera de la pantalla */
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  transition: right 0.3s ease; /* Transición de la propiedad right */
}

.cartsquad.open {
  right: 0; /* Mover el carrito a la posición 0 (visible) */
}


.boton {
  padding: 10px 25px;
  
  border-radius: 8px;
  background-color: orange;
}
.contenedordeventa {
  display: flex;
  flex-direction: column;
  border: 2px solid black; /* Borde negro de 2px */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  
}
.cuadrocompra {
 
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Color de fondo */
  margin-top: 10px;
}
.product-marca{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}
.precio-compra {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.product-marca p, .precio-compra p {
  margin: 10px; /* Eliminar el margen predeterminado de los párrafos */
}

.cuadrocompra button {
  padding: 5px 10px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de apuntador */
}


/**
* ! styles for car page
**/
.conteiner-carrito {
  display: flex; /* Utilizamos Flexbox para distribuir los elementos */
  flex-direction: row; /* Ordenar de izquierda a derecha */
  align-items: center;
  height: 25px;
  padding: 5px 10px; /* Espaciado interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px;
}
.inputcar {
  padding: 10px 25px;
  border-left: 0px solid black; 
  border-bottom: 1px solid black; 
  border-top: 1px solid black; 
  border-right:0px solid black; 
  background-color: #ffffff;
  color: white;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  width: 5px; /* Ajusta el valor según sea necesario */
}




.input{
  margin-right: 1px;
  border-radius: 4px;
  
}
.conteiner-minus{

  display: flex; /* Utilizamos Flexbox para distribuir los elementos */
  
  margin-right: 2px;
  margin-bottom: px;
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */

}
.conteiner-plus{
  
  display: flex; /* Utilizamos Flexbox para distribuir los elementos */
 
 
  
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */

}
.conjunto-cantidad{

  margin-left: auto;

}



